body{
    background-color: #FFC125; /* For browsers that do not support gradients */
    background-color: -webkit-linear-gradient(#FFC125, #FFA500); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(#FFC125, #FFA500); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(#FFC125, #FFA500); /* For Firefox 3.6 to 15 */
    background-color: linear-gradient(#FFC125, #FFA500); /* Standard syntax */
}

#content{
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 800px;
}

#col-1{
    background-color: #FFA500;
    border-radius: 15px;
    height: 400px;
}

#col-2{
    background-color: #FFA500;
    border-radius: 15px;
    height: 400px;
}

#col-3{
    background-color: #FFA500;
    border-radius: 15px;
    height: 400px;
}


h1{
	font-family: 'Titillium Web', sans-serif;
}

.page-header{
    margin-top: 20px;
    margin-bottom: 0px;
    height: 200px;
    background: url('../images/banner.png') center center no-repeat scroll;
    border-radius: 5px;
}

.navbar {
    background-color: #252839;
    margin-top: 3px;
    margin-bottom: 5px;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #FFA500;
}

.navbar-default .navbar-nav>li>a {
    color: #FFA500;
}